{{ define "content" }}

    <header>
        <h1>{{ replace .Params.header "\n" "<br />" | safeHTML }}</h1>
        {{ .Content }}
    </header>

    <section class="tiles">
<h2>Latest offers</h2>
{{ range $offer := (first 3 (.Site.GetPage "section" "/offer").Pages).ByDate.Reverse }}
            <article class="{{ $offer.Params.home_style }}">
                <span class="image">
                    <img src="{{ $offer.Params.home_img | relURL }}" alt="" />
                </span>
                <a href="{{ $offer.URL }}"></a>
            </article>
        {{ end }}
    </section>

{{ end }}
