{{ define "content" }}

    <header>
        <h1>{{ replace .Params.header "\n" "<br />" | safeHTML }}</h1>
        {{ .Content }}
    </header>
        <h2>Coupons</h2>
    <section class="tiles">
{{ range $coupon := ((.Site.GetPage "section" "/coupon").Pages).ByDate.Reverse }}
            <article class="{{ $coupon.Params.home_style }}">
                <span class="image">
                    <img src="{{ $coupon.Params.home_img | relURL }}" alt="" />
                </span>
                <a href="{{ $coupon.URL }}">
                    <h3>{{ $coupon.Title }}</h3>
                    <div class="content">
                        {{ partial "markdownify-block" $coupon.Params.excerpt }}
                    </div>
                </a>
            </article>
        {{ end }} 
    </section>

        <h2>Offers</h2>
    <section class="tiles">
{{ range $offer := ((.Site.GetPage "section" "/offer").Pages).ByDate.Reverse }}
            <article class="{{ $offer.Params.home_style }}">
                <span class="image">
                    <img src="{{ $offer.Params.home_img | relURL }}" alt="" />
                </span>
                <a href="{{ $offer.URL }}">
                    <h3>{{ $offer.Title }}</h3>
                    <div class="content">
                        {{ partial "markdownify-block" $offer.Params.excerpt }}
                    </div>
                </a>
            </article>
        {{ end }}
    </section>

{{ end }}
