{{ define "content" }}

    <h1>{{ .Title }}</h1>
    {{ if .Params.img_src }}
        <span class="image main"><img src="{{ .Params.img_src | relURL }}" alt="" /></span>
    {{ end }}
    {{ .Content }}
    <section class="tiles">
{{ $link := .Permalink }}
{{ $url := urls.Parse $link }}
{{ $capital := index (last 1 (split (delimit (split $url "/") "," "") ",")) 0 }} 
{{ range $offer := ((.Site.GetPage "section" "/offer").Pages).ByDate.Reverse }}
        {{ if in .Params.tags $capital }}
            <article class="{{ $offer.Params.home_style }}">
                <span class="image">
                    <img src="{{ $offer.Params.home_img | relURL }}" alt="" />
                </span>
                <a href="{{ $offer.URL }}"></a>
            </article>
        {{ end }}
{{ end }}
    </section>
    <section class="tiles">
 {{ range $.Site.Data }}
   {{ partial "artist.html" . }}
{{ end }}


    </section>
{{ end }}
