{{ define "content" }}

    <h1>{{ .Title }}</h1>
    {{ if .Params.img_src }}
        <span class="image main"><img src="{{ .Params.img_src | relURL }}" alt="" /></span>
    {{ end }}
    {{ .Content }}

    <section class="tiles">
{{ range $coupon := ((.Site.GetPage "section" "/coupon" .Title).Pages).ByDate.Reverse }}
        {{ if delimit .Params.tags "finland" }}
            <article class="{{ $coupon.Params.home_style }}">
                <span class="image">
                    <img src="{{ $coupon.Params.home_img | relURL }}" alt="" />
                </span>
                <a href="{{ $coupon.URL }}">
                    <h3>{{ $coupon.Title }}</h3>
                    <div class="content">
                        {{ partial "markdownify-block" $coupon.Params.excerpt }}
                    </div>
                </a>
            </article>
        {{ end }}     
    </section>


{{ end }}
